* {
  margin: 0;
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar ul li {
  display: block;
  float: left;
}

.navbar ul li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.navbar ul li a:hover {
  background-color: #111;
}

body {
  background-color: #2c3333;
  color: aliceblue;
  font-family: "Rubik", sans-serif;

}

h2 {
  margin: 1.5rem;
}

form {
  position: absolute;
  right: 0;
  top: 7px;
}
input {
  background: #1b2430;
  color: azure;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

iframe {
  display: block;
}

span {
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}

.active {
  background-color: #7dce13;
}

.container {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  grid-template-rows: min-content;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
}

.container > * {
  scroll-snap-align: center;
}

.movieCard {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  width: 200px;
}

.movieCard > img {
  inline-size: 100%;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease-in-out;
}

.movieCard > img:hover {
  transform: scale(1.1);
}

.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#generes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.genere {
  padding: 1rem;
  margin: 1rem;
  background-color: #e7e09c;
  border: 3px solid #ffec17;
  border-radius: 3rem;
  color: #111;
  font-weight: bold;
  cursor: pointer;
}



.selected {
  background-color: #5bb318;
}



#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .genere {
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: #e7e09c;
    border: 1px solid #ffec17;
    border-radius: 3rem;
    color: #111;
    font-weight: bold;
    cursor: pointer;
  }

  
.selected {
  background-color: #5bb318;
}

  input {
    padding-left: 0;
  }
}
