* {
  margin: 0;
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar ul li {
  display: block;
  float: left;
}

.navbar ul li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.navbar ul li a:hover {
  background-color: #111;
}

body {
  background-color: #2c3333;
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  position: relative;

}

main{
  text-align: center;
}

span{
  position: absolute;
  top:-204px;
  left: 0;
  background-color: rgba(168, 169, 170, 0.4); 
  border-radius: 10px;
}

h2 {
  margin:2rem;
}

form {
  position: absolute;
  right: 0;
  top: 7px;
}
input {
  background: #1b2430;
  color: azure;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

iframe{
  display: block;
}




.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}


.active{
  background-color: #7DCE13;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.movieCard {
  height: 200px;
  width: 133.325px;
  transition: transform .2s;
  margin: 3rem;
  box-shadow: 10px 10px 7px -3px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  font-size: 1rem;
}

.movieCard:hover {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1.1);
}

.movieCard img {
  height: 200px;
  border-radius: 10px;
  position: relative;
}

.movieCard img:hover {
filter: blur(.3px);

}

.movie-info {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: .9rem;
  /* overflow: hidden; */
}
.rating {
  padding: 3px;
  border-radius: 5px;
}

#generes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  
}

.genere{
  padding: 1rem;
  margin: 1rem;
  background-color: #e7e09c;
  border: 3px solid #ffec17;
  border-radius: 3rem;
  color: #111;
  font-weight: bold;
  cursor: pointer;

}


.search-results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.searchHeading{
  position: absolute;
  top: -50px;
  
}

.selected{
  background-color: #5BB318;
}

.poster{
  
  width: 400px;

  
}

#main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1{
  margin-bottom: 2rem;
}





@media (max-width: 700px){
  .container{
    flex-wrap: wrap;

  }
  .genere{
    padding: .5rem;
    margin: .2rem;
    background-color: #e7e09c;
    border: 1px solid #ffec17;
    border-radius: 3rem;
    color: #111;
    font-weight: bold;
    cursor: pointer;
  }
  .selected{
    background-color: #5BB318;
  }
  input{
    padding-left: 0;
  }  

}


